<footer class="usa-footer usa-footer--big lab-footer" role="contentinfo">
  <div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div>
  <div class="lab-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-6 desktop:grid-col-10">
          <h3 class="lab-footer__sub-title">
            Helping government organizations transform their programs, processes, and people through human-centered design.
          </h3>
        </div>
        <div class="tablet:grid-col-2 desktop:grid-col-2 lab-footer__opm-logo">
          <img class="usa-footer__logo-img" src="{{ site.baseurl }}/assets/img/lab/opm-logo.png" alt="Official seal of OPM">
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-8 desktop:grid-col-12">
          <nav class="usa-footer__nav">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">The Lab at OPM</h4>
                  <div class="usa-list usa-list--unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <a class="lab-footer__address" href="{{ site.baseurl }}/about/locations/#lab-dc-hq">
                      <span class="lab-footer__address-line" itemprop="streetAddress">Theodore Roosevelt Bldg.</span>
                      <span class="lab-footer__address-line" itemprop="streetAddress">1900 E Street NW </span>
                      <span   class="lab-footer__address-line">
                        <span itemprop="addressLocality">Washington</span>, <span itemprop="addressRegion">DC</span> <span itemprop="postalCode">20415</span>
                      </span>
                    </a>
                  </div>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Lab NYC</h4>
                  <div class="usa-list usa-list--unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <a class="lab-footer__address" href="{{ site.baseurl }}/about/locations/#lab-nyc">
                      <span class="lab-footer__address-line" itemprop="streetAddress">One World Trade Center</span>
                      <span class="lab-footer__address-line" itemprop="streetAddress">285 Fulton Street</span>
                      <span   class="lab-footer__address-line">
                        <span itemprop="addressLocality">New York</span>, <span itemprop="addressRegion">NY</span> <span itemprop="postalCode">10007</span>
                      </span>
                    </a>
                  </div>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Lab SF</h4>
                  <div class="usa-list usa-list--unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <a class="lab-footer__address" href="{{ site.baseurl }}/about/locations/#lab-sf">
                      <span class="lab-footer__address-line" itemprop="streetAddress">50 UN Plaza</span>
                      <span   class="lab-footer__address-line">
                        <span itemprop="addressLocality">San Francisco</span>, <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">94102</span>
                      </span>
                    </a>
                  </div>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Connect With Us</h4>
                  <ul class="usa-list usa-list--unstyled">
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">Subscribe to our newsletter</a></li>
                    <li class="usa-footer__secondary-link"><a href="javascript:void(0);">@LabOPM</a></li>
                  </ul>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="lab-footer__required-links mobile-lg:grid-col-6">
          <ul class="usa-list usa-list--unstyled lab-footer__required-links-list">
            <li class="usa-footer__secondary-link lab-footer__required-links-item">
              <a href="javascript:void(0);">Contact Us</a>
            </li>
            <li class="usa-footer__secondary-link lab-footer__required-links-item">
              <a href="javascript:void(0);">Privacy Policy</a>
            </li>
            <li class="usa-footer__secondary-link lab-footer__required-links-item">
              <a href="javascript:void(0);">FOIA</a>
            </li>
            <li class="usa-footer__secondary-link lab-footer__required-links-item">
              <a href="javascript:void(0);">Accessibility</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
