<div class="lab-hero lab-hero--{{ include.name }}">
  <div class="lab-hero__body">
    {% if page.section == 'hcd-guide' %}
    <div class="lab-hero__sub-title lab-hero--{{include.name}}__sub-title lab-hero__desktop_visible">
    {% assign hcd_section_link = site.data.navigation.hcd-guide.href %}
      <a href="{{ site.baseurl}} {{ hcd_section_link }}" title="All HCD Guides">All HCD Guides</a>
      <a href="javascript:window.print();" title="Print Guide">Print Guide</a>
    </div>
    <div class="lab-hero__sub-title lab-hero--{{include.name}}__sub-title lab-hero__mobile_visible">
      {% assign hcd_section_link = site.data.navigation.hcd-guide.href %}
        <span class="lab-hero__guide_menu_title">Guide Menu</span>
        <a href="#" title="Guide Menu" class="lab-hero__guide_menu_link"><img src="/assets/img/lab/hcd-guide/design/guide-menu-icon.png" alt="Guide Menu" /></a>
        <form action="#" class="lab-hero__form_search_mobile">
          <input type="search" placeholder="Search this guide..." class="padding-left-1 border-0 radius-left-sm" /><input type="image" src="/assets/img/lab/hcd-guide/design/search-icon-mobile.png" />
        </form>
      </div>
    <form action="#" class="lab-hero__desktop_visible">
      <input type="search" placeholder="Search this guide..." class="padding-left-1 border-0 radius-left-sm" /><input type="image" src="/test/assets/img/icons/search.png" />
    </form>
    {% endif %}
    {% if page.title %}
    <!-- <h1 class="lab-hero__title lab-hero--{{include.name}}__title">{{ page.title }}</h1> -->
    {% endif %}
  </div>
</div>
