<div class="lab-hero__sub-title lab-hero--{{ page.section }}__sub-title lab-hero--hcd-guide__guide_menu lab-hero--hcd-guide__mobile_visible">
  <a href="#" title="Guide Menu" class="lab-hero--hcd-guide__guide_menu_link_title">Guide Menu</a>
  <a href="#" title="Guide Menu" class="lab-hero--hcd-guide__guide_menu_link"><div></div></a>
  <!--<a href="#" title="Click to search..." class="lab-hero--hcd-guide__guide_menu_search_link"><img src="{{ site.baseurl }}/assets/img/lab/hcd-guide/design/search-icon-mobile.png" title="Click to search" /></a>
   <form action="#" class="lab-hero--hcd-guide__guide_menu_search">
    <input type="search" placeholder="Search this guide..." class="lab-hero--hcd-guide__guide_menu_search_field" /><input type="image" src="{{ site.baseurl }}/assets/img/lab/hcd-guide/design/search.png" class="lab-hero--hcd-guide__search_submit_image" /></a>
  </form> -->
</div>
<div class="lab-hero--hcd-guide__guide_menu_content lab-hero--hcd-guide__mobile_visible">
  <div class="lab-hero--hcd-guide__guide_menu_header">
    <span class="lab-hero__sub-title lab-hero--hcd-guide__guide_menu_title">Guide Menu</span>
    <a href="#" title="Close Menu" class="lab-hero--hcd-guide__guide_menu__close_link"><img src="{{ site.baseurl }}/assets/img/lab/hcd-guide/design/guide-menu-close-mobile.png" alt="Close Menu" /></a>
  </div>
  <nav class="lab-hero--hcd-guide__guide_menu_nav">
    <ul>
    {% for link in include.links %}
      {% assign _href = link.href %}
      {% assign _current = false %}

      {% if link.href == page.url or link.href == page.permalink or link.sub-section == page.sub-section %}
        {% assign _current = true %}
      {% endif %}
      
      {% if link.section-link == true %}
        {% assign _sectionlink = true %}
      {% else %}
        {% assign _sectionlink = false %}
      {% endif %}  
      <li>
    {% if _sectionlink == true %}
      {% assign _subnav = link.subnav %}
      {% include subnav-mobile.html links=_subnav section_href=_href%}
    {% else %}
      <a href="{{ site.baseurl }}{{ link.href }}">
        {{ link.text }}
      </a>
      {% if link.subnav and _current %}
        {% assign _subnav = link.subnav %}
          <a href="{{ site.baseurl }}{{ link.href }}" title="{{ link.text }}" {% if _current %} class="lab-hero--hcd-guide__guide_menu-mobile nav-current" {% endif %}>{{ link.text }}</a><a href="#" title="View more topics in {{ link.text }}"><img src="{{ site.baseurl }}/assets/img/lab/hcd-guide/design/guide-menu-view-more-mobile.png" width="13" height="13" title="View more topics in {{ link.text }}" /></a>
           <ul class="lab-hero--hcd-guide__guide_menu-mobilenav__sublist">
            {% include subnav-mobile.html links=_subnav %}
          </ul> 
      {% endif %}
    {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
  <div class="lab-hero--hcd-guide__guide_menu_highlights">
    <span class="lab-hero--hcd-guide__guide_menu_highlights_desc">Highlights</span>
    <div class="switch-container">
      <input type="checkbox" id="switch-mobile">
      <label for="switch-mobile" class="switch-label">
        <div class="switch-rail">
          <div class="switch-slider"></div>
        </div>    
      </label>
    </div>
  </div>
  <div class="lab-hero--hcd-guide__guide_menu_misc_links">
    <ul>
      <li><a href="#" title="Print guide">Print guide</a></li>
      <li><a href="#" title="Glossary">Glossary</a></li>
      <li><a href="#" title="Acknowledgements">Acknowledgements</a></li>
      <li><a href="#" title="All HCD Guides">All HCD Guides</a></li>
    </ul>
  </div>
</div>