<nav class="lab-hcd-guide-nav">
  <a href="{{ site.baseurl }}/what-we-do/resources/hcd-guide/" class="lab-hcd-guide-nav__title">
    HCD Guide Series
  </a>
  <ul class="usa-sidenav">
    {% for link in include.links %}
      {% assign _href = link.href %}
      {% assign _current = false %}
      {% if link.href == page.url or link.href == page.permalink or link.sub-section == page.sub-section %}
        {% assign _current = true %}
      {% endif %}
    <li class="usa-sidenav__item">
      <a href="{{ site.baseurl }}{{ link.href }}" {% if _current %} class="usa-current" {% endif %} {% if link.class %}class="{{ link.class }}" {% endif %}>
        {{ link.text }}
      </a>
      {% if link.subnav and _current %}
        {% assign _subnav = link.subnav %}
      <ul class="usa-sidenav__sublist">
        {% include subnav.html links=_subnav %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</nav>
