
<h3>
  Our partners
</h3>

<p>
  Active projects and collaborations at the Lab include individuals and teams from the following government agencies:
</p>

<h4 style="margin-bottom: 1.5rem">
  Government/Agency partners
</h4>

<div class="grid-row">
  <div class="mobile-lg:grid-col-6">
    <ul style="margin-top:0; margin-bottom: 0.25rem">
      <li>Department of Agriculture</li>
      <li>Department of Commerce</li>
      <li>Department of Defense</li>
      <li>Department of Education</li>
      <li>Department of Energy</li>
      <li>Department of Health and Human Services</li>
      <li>Department of Homeland Security</li>
      <li>Department of Labor</li>
      <li>Department of the Interior</li>
    </ul>
  </div>
  <div class="mobile-lg:grid-col-6">
    <ul style="margin-top:0">
      <li>Department of Veterans Affairs</li>
      <li>General Services Administration</li>
      <li>Millennium Challenge Corporation</li>
      <li>National Aeronautics and Space Administration</li>
      <li>National Geospatial-Intelligence Agency</li>
      <li>Office of Personnel Management</li>
      <li>U.S. Patent and Trademark Office</li>
    </ul>
  </div>
</div>
