{% for link in include.links %}
  {% assign _link-current = false %}
  {% if link.href == page.url or link.href == page.permalink %}
    {% assign _link-current = true %}
  {% endif %}
<li>
  <a href="{{ site.baseurl }}{{ link.href }}" title="{{ link.text }}" {% if _link-current %} class="lab-hero--hcd-guide__guide_menu-mobilenav-current" {% endif %}>{{ link.text }} {{ link.class }}</a>{% if link.subnav and _link-current %}<a href="{{ site.baseurl }}{{ link.href }}" title="View more topics in {{ link.text }}"" class="lab-hero--hcd-guide__guide_menu_view_more"><img src="/assets/img/lab/hcd-guide/design/guide-menu-view-more-mobile.png" width="13" height="13" title="View more topics in {{ link.text }}" /></a>{% endif %}
    {% if link.subnav and _current %}
      {% assign _subnav = link.subnav %}
    <ul class="lab-hero--hcd-guide__guide_menu-mobilenav__sublist">
      {% include subnav-mobile.html links=_subnav %}
    </ul>
    {% endif %}
</li>
{% endfor %}
