{% for link in include.links %}
  {% assign _link-current = false %}
  {% if link.href == page.url or link.href == page.permalink %}
    {% assign _link-current = true %}
  {% endif %}

  {% if link.sub-section == true %} 
    {% assign _link-sub-section = true %}
  {% else %}
    {% assign _link-sub-section = false %}
  {% endif %}

  {% if page.url == include.section_href %}
    {% assign _landing_page = true %}
  {% else %}
    {% assign _landing_page = false %}
  {% endif %} 
<li class="usa-sidenav__item">
  <a href="{{ site.baseurl }}{{ link.href }}" title="{{ link.text }}" {% if _link-current %} class="usa-current" {% endif %} {% if link.class %}class="{{ link.class }}" {% endif %}>{{ link.text }} {{ link.class }}</a>
    {% if _link-sub-section == true and _link-current == true %}
      {% assign _sub-sub-section = link.sub-subnav %}
    <ul class="usa-sidenav__sublist">
      {% include subnav.html links=_sub-sub-section %}
    </ul>
    {% elsif _link-sub-section == true %}
      {% assign _sub-sub-section = link.sub-subnav %}
      {% assign _link-within_section = false %}
      
      {% for sub_link in _sub-sub-section %}
        {% if sub_link.href == page.url %}
          {% assign _link-within_section = true %}
        {% endif %}
      {% endfor %}
      
      {% if _link-within_section == true %}
    <ul class="usa-sidenav__sublist">
      {% include subnav.html links=_sub-sub-section %}
    </ul>
      {% endif %}

      {% if _landing_page == true %}
    <ul class="usa-sidenav__sublist">
      {% include subnav.html links=_sub-sub-section %}
    </ul>
      {% endif %}
    {% endif %}
</li>
{% endfor %}

