---
layout: article-wide
section: take-a-class
permalink: /take-a-class/open-enrollment-classes/
title: Open Enrollment Classes
---

<p class="lab-content__lead">
  The Lab’s educational offerings in human-centered design provide individuals, teams, and agencies several options for growth and development. You can choose from a range of formats from a week-long total immersion Design School to shorter-form options. Classes typically occur at the Lab but we can customize them to meet the needs of your organization.
</p>

<p>
  Fulfilling our mission to bring human-centered design to government at scale, our curriculum expanded in 2018 with eight new single-day topic-specific classes. These new classes bring key aspects of design practice, process, methods and theory to broad audiences. They cover a range of topics associated with problem-solving, creative thinking, and communication.
</p>

<h3>Multi-Day Sessions</h3>
<table class="usa-table usa-table--borderless lab-classes__table">
  <thead>
    <tr>
      <th scope="col">Course name</th>
      <th scope="col">Length</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
{% assign multi = site.classes | where: "session","multi" %}
{% for aclass in multi %}
    <tr>
      <th scope="row">
        <a class="lab-classes__table-link" href="{{ site.baseurl }}/{{ aclass.permalink }}">{{ aclass.title }}</a>
      </th>
      <td>{{ aclass.length }}</td>
      <td>{{ aclass.cost}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>

<h3>Single-Day Sessions</h3>
<table class="usa-table usa-table--borderless lab-classes__table">
  <thead>
    <tr>
      <th scope="col">Course name</th>
      <th scope="col">Length</th>
      <th scope="col">Cost</th>
    </tr>
  </thead>
  <tbody>
{% assign singles = site.classes | where: "session","single" %}
{% for aclass in singles %}
    <tr>
      <th scope="row">
        <a class="lab-classes__table-link" href="{{ site.baseurl }}/{{ aclass.permalink }}">{{ aclass.title }}</a>
      </th>
      <td>{{ aclass.length }}</td>
      <td>{{ aclass.cost}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
