/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.lab-content {
  // This keeps us from having super short content wells
  // Might want to consider 80vh
  min-height: 40vh;

  &__lead {
    @include u-font-size('body', 8);
    line-height: line-height('heading', 3);
    max-width: 60ex; // approximates Tim's odd decision to go with 7 columns
  }
}

.lab-dl {
  dd {
    margin: 0 0 units(2) 0;
  }
}

.lab-caption {
  @include u-font-size('body', '2xs');
  font-style: italic;
}

// Components
// ***************** HEADER ***************** //
.lab-header {
  &__logo {
    @include at-media('desktop') {
      margin: 0;
    }
  }

  &__logo-link {
    display: block;
    padding: units(2) 0;
  }

  &__logo-img {
    width: 8rem;
  }

  &.usa-header--basic .usa-current:after,
  &.usa-header--basic .usa-nav__link:hover:after,
  &.usa-header--basic [aria-expanded=true]:after {
    background-color: color('base-dark');
  }
}

// ***************** HERO ***************** //
.lab-hero {
  &__body {
    @include grid-container;
    padding: units(6) units(2) units(4);

    @include at-media('tablet') {
      padding: units(8) units(2) units(4);
    }

    @include at-media('desktop') {
      padding: units(15) units(4) units(4);
    }
  }

  &__title {
    color: color('white');
    @include at-media('tablet') {
      @include grid-col(6);
    }
  }
}

.lab-hero--what-we-do {
  background-color: color($theme-color-lab-coral);

  &__body {
    @include at-media('tablet') {
      background-image: url('../img/lab/hero-coral-detail.jpg');
      background-position: right 50%;
      background-repeat: no-repeat;
    }
  }
}

.lab-hero--about {
  background-color: color($theme-color-lab-sky);

  &__body {
    @include at-media('tablet') {
      background-image: url('../img/lab/hero-sky-detail.jpg');
      background-position: right 50%;
      background-repeat: no-repeat;
    }
  }
}

.lab-hero--take-a-class {
  background-color: color($theme-color-lab-gold);

  &__body {
    @include at-media('tablet') {
      background-image: url('../img/lab/hero-gold-detail.jpg');
      background-position: right 50%;
      background-repeat: no-repeat;
    }
  }

  &__title {
    color: color('ink');
  }
}

.lab-hero--contact {
  background-color: color($theme-color-lab-aqua);

  &__body {
    @include at-media('tablet') {
      background-image: url('../img/lab/hero-aqua-detail.jpg');
      background-position: right 75%;
      background-repeat: no-repeat;
    }
  }
}


// ***************** CONTENT HIGHLIGHT ***************** //
.lab-content-highlight {
  background-color: color($theme-color-lab-sand);

  &__body {
    @include grid-container;
    padding: units(6) units(2) units(4);

    @include at-media('tablet') {
      padding: units(8) units(2) units(4);
    }
  }
}

// ***************** CTA ***************** //
.lab-cta {
  display: flex;
  flex: 1;
  padding: 1em 0 0 1em;

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin: units(4) 0 units(4) -1em;
  }

  &__body {
    width: 100%;
    padding: units(4) units(2);
    background-color: color($theme-color-lab-sand);
    text-align: center;
  }

  &__button {
    @include makeButton();
  }
}

.lab-cta--registration {
  padding: 0;

  &__body {
    padding: units(2);
    text-align: left;
  }

  &__list {
    margin: 0 0 units(2) 0;
  }

  &__title {
    font-weight: bold;
    margin: 0 0 units(1) 0;
  }

  &__item {
    margin: 0 0 units(1) 0;
  }

  &__button {
    @include makeButton(true);

    @include at-media('desktop') {
      width: 100%;
    }
  }
}

.lab-classes__table {
  width: 100%;
}

// ***************** TEAM ***************** //
.lab-team {
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: units(4) 0 units(4) -1em;
  }
}

.lab-team-person {
  display: flex;
  flex: 1;
  padding: 1em 0 0 1em;

  &__link {
    display: block;
    width: 100%;
    padding: units(4) units(2);
    text-decoration: none;
    text-align: center;
    color: color('ink');

    &:visited,
    &:hover,
    &:active {
      color: color('ink');
    }
  }

  &__figure {
    width: 100%;
  }

  &__body {
    padding: units(2) 0;
  }

  &__name {
    font-weight: bold;
  }

  &__placholder-img {
    width: 140px;
    height: 140px;
  }

  &__location {
    display: inline-block;
    position: relative;
    font-weight: normal;
    margin-left: units(1);
    padding: 0 units(1);

    &:before {
      content: '|';
      position: absolute;
      left: 0;
    }
  }

  &__location-link {
    text-decoration: none;
    @include permaLink(color('ink'));
  }
}

.lab-team-person,
.lab-team-person-image {
  &__placholder-img {
    background-color: color($theme-color-lab-pewter);
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.lab-team-person-image {
  &__placholder-img {
    width: 100%;
    min-height: 306px;
  }
}

// ***************** FOOTER ***************** //
.lab-footer {
  &__primary-section {
    background-color: color($theme-color-lab-mist);
  }

  &__sub-title {
    padding: units(4) 0;
    color: color($theme-color-lab-indigo);
  }

  .usa-footer__primary-section {
    background-color: color($theme-color-lab-moon);
  }

  &.usa-footer--big .usa-footer__primary-content--collapsible.hidden .lab-footer__address {
    display: none;
  }

  &__opm-logo {
    display: flex;
    align-items: center;
  }

  &__required-links-list {
    display: block;
    margin-top: units(2);

    @include at-media('mobile-lg') {
      margin-top: 0;
    }
  }

  &__required-links-item {
    display: inline-block;
    @include u-font-size('body', '2xs');
  }

  &__required-links-link {
    display: block;
    padding: units(1) units(1) units(1) 0;
  }
}

.lab-footer .lab-footer__connect-item {
  margin-left: 0;
}

.lab-footer,
.lab-locations {
  &__address {
    display: block;
    color: color('ink');
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;

    @include at-media('mobile-lg') {
      padding-left: 0;
      padding-right: 0;
    }

    &:hover {
      color: color('primary');
    }

    &:visited {
      color: color('ink');
    }
  }

  &__address-line {
    display: block;
  }
}

// ***************** PAGE SPECIFIC LAYOUTS ***************** //
.l-contact {
}
