/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.lab-content {
  // This keeps us from having super short content wells
  // Might want to consider 80vh
  min-height: 40vh;

  &__lead {
    @include u-font-size('body', 8);
    line-height: line-height('heading', 3);
    max-width: 60ex; // approximates Tim's thoughtful and purposeful decision to go with 7 columns
  }
}

.lab-content h3 {
  font-weight: $theme-font-weight-semibold;
}

// .lab-content img {
//   max-width:960px;
// }

.lab-content-caption-container {
  margin: 0 0 units(4) 0;

  .square-center {
    margin-bottom: 0;
  }

  p {
    margin: units(1) 0 0 0;
  }

  a {
    display: block;
    @include u-font-size('body', '2xs');
    font-style: italic;
  }
}

.lab-dl {
  dd {
    margin: 0 0 units(2) 0;
  }
}

.lab-caption {
  @include u-font-size('body', '2xs');
  font-style: italic;
  line-height: 1.25rem;
  color: color($theme-color-base-dark);
}

// Components
// ***************** HEADER ***************** //
.lab-header {
  &__logo {
    @include at-media('desktop') {
      margin: 0;
    }
  }

  &__logo-link {
    display: block;
    padding: units(2) 0;
  }

  &__logo-img {
    width: 8rem;
  }

  &.usa-header--basic .usa-current:after,
  &.usa-header--basic .usa-nav__link:hover:after,
  &.usa-header--basic [aria-expanded=true]:after {
    background-color: color('base-dark');
  }
}

// ***************** HERO ***************** //
.lab-hero {
  &__body {
    @include grid-container;
    padding: units(6) units(2) units(4);
    background-repeat: no-repeat;

    @include at-media('tablet') {
      padding: units(8) units(2) units(4);
      background-position: 480px 50%;
    }

    @include at-media('tablet-lg') {
      background-position: right 50%;
    }

    @include at-media('desktop') {
      padding: units(15) units(4) units(4);
    }
  }

  &__title {
    color: color('white');

    @include at-media('tablet') {
      max-width: 460px;
    }

    @include at-media('desktop') {
      max-width: 500px;
    }
  }
}

.lab-hero--home {
  background-image: url('../img/lab/home/design-school-blue.jpg');
  background-position: center center;

  &__title {
    font-weight:$theme-font-weight-semibold;
    font-size: 2rem;
    padding-right:1.5rem;

    @include at-media('tablet') {
      max-width: 600px;
      font-size: 2.5rem;
      padding-right:0;
    }

    @include at-media('desktop') {
      max-width: 600px;
      font-size: 2.5rem;
      padding-right:0;
    }
  }
}

.lab-hero--what-we-do,
.lab-hero--hcd-guide {
  background-color: color($theme-color-lab-coral);

  &__body {
    @include at-media('tablet') {
      background-image: url('../img/lab/hero-coral-detail.jpg');
    }
  }
}

.lab-hero--hcd-guide {
  &__body {
    @include at-media('tablet') {
      background-position: 480px 0;
    }

    @include at-media('tablet-lg') {
      background-position: right 0;
    }
  }

  &__title {
    margin-top: 0;
  }

  &__sub-title {
    color: color('white');
  }
}

.lab-hero--about {
  background-color: color($theme-color-lab-sky);

  &__body {
    @include at-media('tablet') {
      background-image: url('../img/lab/hero-sky-detail.jpg');
    }
  }
}

.lab-hero--take-a-class {
  background-color: color($theme-color-lab-gold);

  &__body {
    @include at-media('tablet') {
      background-image: url('../img/lab/hero-gold-detail.jpg');
    }
  }

  &__title {
    color: color('ink');
  }
}

.lab-hero--contact {
  background-color: color($theme-color-lab-aqua);

  &__body {
    @include at-media('tablet') {
      background-image: url('../img/lab/hero-aqua-detail.jpg');
      background-position: right 75%;
    }
      @include at-media('tablet-lg') {
        background-image: url('../img/lab/hero-aqua-detail.jpg');
        background-position: right 75%;
      }
      @include at-media('desktop') {
        background-image: url('../img/lab/hero-aqua-detail.jpg');
        background-position: right 83%;
      }
  }

  &__title {
    color: color('ink');
  }
}


// ***************** CONTENT HIGHLIGHT ***************** //
.lab-content-highlight-cool {
  background-color: color($theme-color-lab-glacier);
  margin: 3rem 0 0;

  &__body {
    @include grid-container;
    padding: units(3) units(2.5) units(3) units(2);

    @include at-media('tablet') {
      padding: units(4) units(2) units(4);
    }
  }
}

.lab-content-highlight-warm {
  background-color: color($theme-color-lab-sand);
  margin: 3rem 0 0;

  &__body {
    @include grid-container;
    padding: units(3) units(2.5) units(3) units(2);

    @include at-media('tablet') {
      padding: units(4) units(2) units(4);
    }
  }
}

.lab-content-highlight-warm ul {
  @include at-media('desktop') {
    padding-right:6rem;
  }
}

.lab-content-highlight-cool ul {
  padding-right:1.25rem;
  @include at-media('desktop') {
    padding-right:6rem;
  }
}

// ***************** CTA ***************** //
.lab-cta {
  display: flex;
  flex: 1;
  padding: 1em 0 0 1em;

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin: units(4) 0 0 -1em;
  }

  &__body {
    width: 100%;
    padding: units(4) units(2);
    background-color: color($theme-color-lab-sand);
    text-align: center;
  }

  &__desc {
    margin:1rem auto 0;
  }

  &__button {
    @include makeButton();
    line-height:1.25rem;
  }
}

.lab-cta--registration {
  padding: 0;

  &__body {
    padding: units(2);
    text-align: left;
  }

  &__list {
    margin: 0 0 units(2) 0;
  }

  &__title {
    font-weight: bold;
    margin: 0 0 units(1) 0;
  }

  &__item {
    margin: 0 0 units(1) 0;
  }

  &__button {
    @include makeButton(true);

    @include at-media('desktop') {
      width: 100%;
    }
  }
}

.lab-classes__table {
  width: 100%;
}

.lab-classes__table-link {
  @include permaLink(color('primary'));
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// ***************** HOME ***************** //
.lab-home-highlight h3, .lab-home-media-object h3 {
  font-weight: $theme-font-weight-bold;
}

.lab-home-highlight,
.lab-home-media-object {
  &__container {
    @include at-media('tablet') {
      @include grid-container;
      padding: units(4) units(2) units(3);
    }
  }

  &__title,
  &__lead {
    @include u-font-size('body', 11);
    line-height: line-height('heading', 2);
    font-size:1.375rem;
      @include at-media('mobile-lg') {
        font-size:1.75rem;
      }
  }

  &__title {
    margin-bottom: 0;
    @include at-media('mobile-lg') {
      margin-bottom: units(1);
    }
  }

  &__lead-link {
    @include permaLink(color('ink'));
  }
}

.lab-home-highlight {
  background-color: color($theme-color-lab-mist);

  &__container {
    padding: units(2.5) units(2) units(2);
  }

  &__body {
    @include at-media('tablet-lg') {
      @include grid-col(7);
    }
  }

  &__lead {
    margin-top: 0;
    padding-right:2rem;
    @include at-media('mobile-lg') {
      margin-top: units(1);
      padding-right:0;
    }
  }
}

.lab-home-highlight--white {
  background-color: color('white');
  margin-bottom: units(3);
}

.lab-home-media-object {
  &__container {
    padding-top: units(3);

    @include at-media('tablet') {
      padding: units(3) units(2) units(3);
    }
  }

  &__body {
    padding: 0 units(2);

    @include at-media('tablet') {
      @include grid-col(7);
      padding: 0;
    }

    @include at-media('desktop') {
      padding: units(4) 0 0 0;
    }
  }

  &__lead {
    margin-top: 0;
    padding-right:2rem;
    @include at-media('mobile-lg') {
      margin-top: units(1);
      padding-right:0;
    }
    @include at-media('desktop') {
      padding-right:3rem;
    }
  }

  &__figure {
    height: 150px;
    text-align: center;
    width: 100%;
    margin-top: units(3);
    // margin-bottom: units(2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%;

    @include at-media('tablet') {
      @include grid-col(4);
      margin: 0;
      height: 240px;
      background-color: inherit;
      background-size: contain;
      @include grid-offset(1);
    }

    @include at-media('tablet') {
      height: 280px;
    }
  }

  &__figure--sky {
    background-color: color($theme-color-lab-sky);
    background-image: url('../img/lab/home/balloons.png');

    @include at-media('tablet') {
      background-image: url('../img/lab/home/balloons-circle.png');
    }
  }

  &__figure--coral {
    background-color: color($theme-color-lab-coral);
    background-image: url('../img/lab/home/stack.png');

    @include at-media('tablet') {
      background-image: url('../img/lab/home/stack-circle.png');
    }
  }

  &__figure--gold {
    background-color: color($theme-color-lab-gold);
    background-image: url('../img/lab/home/cube.png');

    @include at-media('tablet') {
      background-image: url('../img/lab/home/cube-circle.png');
    }
  }

  &__figure--aqua {
    background-color: color($theme-color-lab-aqua);
    background-image: url('../img/lab/home/bulb.png');
    background-position: center 85%;

    @include at-media('tablet') {
      background-image: url('../img/lab/home/bulb-circle.png');
      background-position: center;
    }
  }

  &__quote {
    color: color($theme-color-lab-charcoal);
    border-left: 1px solid color($theme-color-lab-pewter);
    margin: units(4) 0 0 0;
    padding-left: units(4);

    p {
      font-weight: bold;
      @include u-font-size('body', 8);
      line-height: line-height('heading', 3);
    }
  }
}

.lab-home-media-object--left-figure {
  @include at-media('tablet') {
    background-color: color($theme-color-lab-mist);
  }

  .lab-home-media-object__body {
    @include at-media('tablet') {
      @include grid-offset(1);
      @include u-order(2);
    }
  }

  .lab-home-media-object__figure {
    @include at-media('tablet') {
      @include grid-offset('none');
      @include u-order(1);
    }
  }
}

// ***************** LOCATIONS ***************** //
.lab-locations-key {
  margin-bottom: units(2);

  &__item {
    position: relative;
    padding: units(2) units(1) units(1) units(0);
    margin: units(1) 0;
    font-weight: $theme-font-weight-semibold;
  }

  &__item::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\2022';
    font-size: 3.25rem;
    line-height: 0;
  }

  &__item--lab-office::before {
    color: color($theme-color-lab-coral);
  }

  &__item--where-we-worked::before {
    color: color($theme-color-lab-gold);
  }

  &__item--where-we-taught::before {
    color: color($theme-color-lab-brand-teal);
  }

  // &__item--where-we-learned::before {
  //   color: color($theme-color-lab-brand-teal);
  // }
  //
  // &__item--where-we-collaborated::before {
  //   color: color($theme-color-lab-indigo);
  // }
}

.lab-locations-map-lg {
  margin: 0 0 units(2) 0;
  @include at-media('mobile-lg') {
    margin:0;
  }
}

.lab-locations-map-small-l {
  margin: 0 units(2) 0 0;
  @include at-media('mobile-lg') {
    display:block;
    width:inherit;
    margin:0 0 units(3) 0;
  }
}

.lab-locations-map-small-r {
  margin: 0;
  @include at-media('mobile-lg') {
    display:block;
    width:inherit;
    margin:0;
  }
}

// ***************** SIDENAV ***************** //
.lab-hcd-guide-nav {
  &__title {
    display: block;
    text-decoration: none;
    font-weight: bold;
    @include u-font-size('body', 'lg');
    @include permaLink(color('primary'));
    margin-bottom: units(2);
  }
}

// ***************** TEAM ***************** //
.lab-team {
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -1em;
  }
}

.lab-team-person {
  display: flex;
  flex: 1;
  padding: 2em 0 0 1em;

  &__link {
    display: block;
    width: 100%;
    padding: units(2) units(2) 0 units(2);
    text-decoration: none;
    text-align: center;
    color: color('ink');

    &:visited,
    &:hover,
    &:active {
      color: color('ink');
    }
  }

  &__figure {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }

  &__body {
    padding: units(2) 0 0 0;
  }

  &__name {
    font-weight: bold;
  }

  &__placholder-img {
    width: 140px;
    height: 140px;
  }

  &__location {
    display:block;
    position: relative;
    font-weight: normal;
    margin-top:0.25rem;

    @include at-media('tablet-lg') {
      display: inline-block;
      position: relative;
      font-weight: normal;
      margin-left: units(1);
      padding: 0 units(2);
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      color: color($theme-color-lab-pewter);

      @include at-media('tablet-lg') {
        content:'|';
        position:absolute;
        left:0;
      }
    }
  }

  &__location-link {
    text-decoration: none;
    @include permaLink(color('ink'));
  }
}

.lab-team-person,
.lab-team-person-image {
  &__placholder-img {
    background-color: color($theme-color-lab-pewter);
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.lab-team-person-image {
  &__placholder-img {
    width: 100%;
    min-height: 306px;
  }
}

// ***************** HISTORY ***************** //
$lab-max-team-size: 5;       // square root of 25
$lab-team-size-2012: 2.45;   // square root of 6
$lab-team-size-2013: 3.61;   // square root of 13
$lab-team-size-2014: 3.74;   // square root of 14
$lab-team-size-2015: 2.83;   // square root of 8
$lab-team-size-2016: 3.32;   // square root of 11
$lab-team-size-2017: 5;      // square root of 25
$lab-team-size-2018: 4.8;    // square root of 23
$lab-team-size-2019: 4.8;    // square root of 23

.lab-history {
  &__container {
    width: 1 / 4 * 100%;
    padding-bottom: 1 / 4 * 100%;
    position:relative;
    float:left;
    margin-bottom:1.25rem;
    text-align:center;
    font-size: .875rem;
    @include at-media('tablet') {
      width: 1 / 8 * 100%;
      padding-bottom: 1 / 8 * 100%;
    }
  }
  &__viz {
    padding:0;
    margin:23px 0;
  }
  &__line {
    width:1px;
    padding-top:20px;
    padding-bottom:50%;
    position: absolute;
    z-index:100;
    top: 23px;
    left: 50%;
    background-color: color('ink');
  }
  &__circle {
    &-2012, &-2013, &-2014, &-2015, &-2016, &-2017, &-2018, &-2019 {
      margin-top:20px;
      border-radius:50%;
      position: absolute;
      z-index:99;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: color($theme-color-lab-gold);
    }
    &-2012 {
      width: $lab-team-size-2012 / $lab-max-team-size * 100% * 0.9;
      padding-bottom: $lab-team-size-2012 / $lab-max-team-size * 100% * 0.9;
    }
    &-2013 {
      width: $lab-team-size-2013 / $lab-max-team-size * 100% * 0.9;
      padding-bottom: $lab-team-size-2013 / $lab-max-team-size * 100% * 0.9;
    }
    &-2014 {
      width: $lab-team-size-2014 / $lab-max-team-size * 100% * 0.9;
      padding-bottom: $lab-team-size-2014 / $lab-max-team-size * 100% * 0.9;
    }
    &-2015 {
      width: $lab-team-size-2015 / $lab-max-team-size * 100% * 0.9;
      padding-bottom: $lab-team-size-2015 / $lab-max-team-size * 100% * 0.9;
    }
    &-2016 {
      width: $lab-team-size-2016 / $lab-max-team-size * 100% * 0.9;
      padding-bottom: $lab-team-size-2016 / $lab-max-team-size * 100% * 0.9;
    }
    &-2017 {
      width: $lab-team-size-2017 / $lab-max-team-size * 100% * 0.9;
      padding-bottom: $lab-team-size-2017 / $lab-max-team-size * 100% * 0.9;
    }
    &-2018 {
      width: $lab-team-size-2018 / $lab-max-team-size * 100% * 0.9;
      padding-bottom: $lab-team-size-2018 / $lab-max-team-size * 100% * 0.9;
    }
    &-2019 {
      width: $lab-team-size-2019 / $lab-max-team-size * 100% * 0.9;
      padding-bottom: $lab-team-size-2019 / $lab-max-team-size * 100% * 0.9;
    }
  }
  &__value {
    position:absolute;
    padding:3px;
    background-color: color($theme-color-lab-gold);
    text-align:center;
    font-size:1rem;
    font-weight: $theme-font-weight-bold;
    z-index:101;
    top: 50%;
    left: 50%;
    margin-top:20px;
    transform: translate(-50%, -50%);
  }
}

// ***************** FOOTER ***************** //
.lab-footer {
  &__primary-section {
    background-color: color($theme-color-lab-mist);
  }

  &__sub-title {
    width: 310px;
    padding: units(2.5) 0 units(2.5) 0;
    color: color($theme-color-lab-indigo);
    font-weight: $theme-font-weight-semibold;

    @include at-media('mobile-lg') {
      width:auto;
      padding: units(2.5) 0;
    }
  }

  .usa-footer__primary-section {
    background-color: color($theme-color-lab-moon);
  }

  .usa-footer__secondary-link {
  font-size: .875rem;
    @include at-media('desktop') {
      padding-top:0.5rem;
    }
  }

  &.usa-footer--big .usa-footer__primary-content--collapsible.hidden .lab-footer__address {
    display: none;
  }

  &__required-links {
    // margin-top:1.5rem;
    opacity: 0.65;
    @include at-media(desktop) {
      border-left:1px solid #bbb;
      padding-top:0;
      margin-top: 0.25rem;
    }
  }

  &__required-links-list {
    display: block;
  }

  &__required-links-item {
    display: inline-block;
    @include u-font-size('body', 'sm');
    margin-left: 0;

    @include at-media('desktop') {
      display: block;
      padding-top:0;
    }
  }

  &__required-links-link {
    display: block;
    padding: units(1) units(2) units(1) 0;

    @include at-media('desktop') {
      padding: 0;
    }
  }
}

.usa-footer {
  font-size: .875rem;
}

.usa-footer__logo-heading {
  margin-bottom:0;
  margin-top:.375rem;
  font-size:1.2rem;
  line-height:1.5rem;

  @include at-media('tablet') {
    padding-right:2rem;
  }
}
.usa-footer__logo-img {
  width: 58px;
  height: 58px;
  margin: 0;

  @include at-media('desktop') {
  width: 66px;
  height: 66px;
  }
}

.usa-footer__secondary-section {
  @include at-media('desktop') {
    padding-bottom:2.5rem;
    padding-top:1.5rem;
  }
}

.usa-footer__secondary-section a:link {
  color: color('ink');
  text-decoration: none;
}

.usa-footer__secondary-section a:active {
  color: color('ink');
  text-decoration: underline;
}

.usa-footer__secondary-section a:hover {
  color: color('ink');
  text-decoration: underline;
}

.usa-footer__secondary-section a:visited {
  color: color('ink');
  text-decoration: none;
}

.usa-footer__address {
  margin-top:0.25rem;
}

.usa-footer__contact-heading {
  font-size:1rem;
}

.usa-footer__OPM-heading {
  font-size:1rem;
  display:none;
  margin: 0 0 .25rem;
  @include at-media('desktop') {
    display:block;
  }
}

.lab-footer .lab-footer__connect-item {
  margin-left: 0;
  padding-top:0.3rem;
}

.lab-footer,
.lab-locations {
  &__address {
    display: block;
    color: color('ink');
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;

    @include at-media('mobile-lg') {
      padding-left: 0;
      padding-right: 0;
    }

    &:hover {
      color: color('primary');
    }

    &:visited {
      color: color('ink');
    }
  }

  &__address-line {
    display: block;
  }
}

// ***************** PAGE SPECIFIC LAYOUTS ***************** //
.l-hcd-guide {
  .guide-footnotes {
    font-family: "public-sans", "Helvetica Neue", Helvetica, "Roboto", sans-serif;
    font-size: 12px;
    margin: 0em;
  }

  .guide-blockquote {
    font-size: 1em;
    width: 100%;
    margin-bottom: 1.5rem;
    font-style: italic;
    color: #212121;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #046b99;
    line-height: 1.4;
    position: relative;
    background: #f1f1f1;
    max-width: 66ch;
    }

  .guide-blockquote ::before {
    content: '\201C';
    color: #046b99;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px; }

  .guide-blockquote ::after {
    content: ''; }

  .guide-blockquote span {
    display: block;
    color: #212121;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
  }

  .guide-blue-box {
    width: 100%;
    color: #212121;
    margin: units(2) 0;
    padding: 1.5rem;
    background: #e1f3f8;
    max-width: 66ch;
  }

  .guide-blue-box-illustration {
    padding: 0 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: #e1f3f8;
    max-width: 66ch;
  }

  .guide-blue-box img {
    margin-right: 1.5rem;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .circle {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    background-color: #fee685;
    text-align: center;
  }

  .print-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-top: 20%;
    align: center;
  }

  .border {
    color: #adadad;
  }

  @media print {
    aside,
    footer,
    form …,
    header {
      display: none;
    }

  .noprint {
      display: none;
    }
  }

  /////////////////////image styles//////////////////////////////////

  .section-image {
    grid-column: 3;
    grid-row: 3;
    padding: .5rem;
  }

  ///////////////////image and text interaction styles////////////////

  .space {
    padding: 2em;
  }

  .center_text {
    align-self: center;
  }

  .square_center {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  .lab-content-caption-container .square_center {
    padding-bottom: 0;
  }

  .block {
    width: 100%;
  }

  .square_right {
    display: inline;
    width: 50%;
    float: right;
    padding-left: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }


  .square_left {
    display: inline;
    width: 50%;
    float: left;
    padding-right: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  .couple_right {
    display: inline;
    width: 45%;
    float: left;
    padding-left: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  .couple_left {
    display: inline;
    width: 45%;
    float: left;
    padding-left: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  .bubbles_right {
    display: inline;
    width: 30%;
    float: right;
    padding-left: 2.5%;
    margin: .5em;
    min-width: 225px;
  }

  .bubbles_left {
    display: inline;
    width: 30%;
    float: left;
    padding-right: 2.5%;
    margin: .5em;
    min-width: 225px;
  }

  .right_text {
    text-align: right;
  }
}
