/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.lab-content {
  // This keeps us from having super short content wells
  // Might want to consider 80vh
  min-height: 40vh;

  &__lead {
    @include u-font-size('body', 8);
    line-height: line-height('heading', 3);
    max-width: 60ex; // approximates Tim's odd decision to go with 7 columns
  }
}

.lab-content-caption-container {
  margin: 0 0 units(4) 0;

  .square-center {
    margin-bottom: 0;
  }

  p {
    margin: units(1) 0 0 0;
  }

  a {
    display: block;
    @include u-font-size('body', '2xs');
    font-style: italic;
  }
}

.lab-dl {
  dd {
    margin: 0 0 units(2) 0;
  }
}

.lab-caption {
  @include u-font-size('body', '2xs');
  font-style: italic;
}

// Components
// ***************** HEADER ***************** //
.lab-header {
  &__logo {
    @include at-media('desktop') {
      margin: 0;
    }
  }

  &__logo-link {
    display: block;
    padding: units(2) 0;
  }

  &__logo-img {
    width: 8rem;
  }

  &.usa-header--basic .usa-current:after,
  &.usa-header--basic .usa-nav__link:hover:after,
  &.usa-header--basic [aria-expanded=true]:after {
    background-color: color('base-dark');
  }
}

// ***************** HERO ***************** //
.lab-hero {
  &__body {
    @include grid-container;
    padding: units(6) units(2) units(4);
    background-repeat: no-repeat;

    @include at-media('tablet') {
      padding: units(8) units(2) units(4);
      background-position: 480px 50%;
    }

    @include at-media('tablet-lg') {
      background-position: right 50%;
    }

    @include at-media('desktop') {
      padding: units(15) units(4) units(4);
    }
  }

  &__title {
    color: color('white');

    @include at-media('tablet') {
      max-width: 460px;
    }

    @include at-media('desktop') {
      max-width: 500px;
    }
  }
}

.lab-hero--what-we-do,
.lab-hero--hcd-guide {
  background-color: color($theme-color-lab-coral);

  &__body {
    @include at-media('tablet') {
      background-image: url('../img/lab/hero-coral-detail.jpg');
    }
  }
}

.lab-hero--hcd-guide {
  &__body {
    @include at-media('tablet') {
      background-position: 480px 0;
    }

    @include at-media('tablet-lg') {
      background-position: right 0;
    }
  }

  &__title {
    margin-top: 0;
  }

  &__sub-title {
    color: color('white');
  }
}

.lab-hero--about {
  background-color: color($theme-color-lab-sky);

  &__body {
    @include at-media('tablet') {
      background-image: url('../img/lab/hero-sky-detail.jpg');
    }
  }
}

.lab-hero--take-a-class {
  background-color: color($theme-color-lab-gold);

  &__body {
    @include at-media('tablet') {
      background-image: url('../img/lab/hero-gold-detail.jpg');
    }
  }

  &__title {
    color: color('ink');
  }
}

.lab-hero--contact {
  background-color: color($theme-color-lab-aqua);

  &__body {
    @include at-media('tablet') {
      background-image: url('../img/lab/hero-aqua-detail.jpg');
      background-position: right 75%;
    }
  }
}


// ***************** CONTENT HIGHLIGHT ***************** //
.lab-content-highlight {
  background-color: color($theme-color-lab-sand);

  &__body {
    @include grid-container;
    padding: units(6) units(2) units(4);

    @include at-media('tablet') {
      padding: units(8) units(2) units(4);
    }
  }
}

// ***************** CTA ***************** //
.lab-cta {
  display: flex;
  flex: 1;
  padding: 1em 0 0 1em;

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin: units(4) 0 units(4) -1em;
  }

  &__body {
    width: 100%;
    padding: units(4) units(2);
    background-color: color($theme-color-lab-sand);
    text-align: center;
  }

  &__button {
    @include makeButton();
  }
}

.lab-cta--registration {
  padding: 0;

  &__body {
    padding: units(2);
    text-align: left;
  }

  &__list {
    margin: 0 0 units(2) 0;
  }

  &__title {
    font-weight: bold;
    margin: 0 0 units(1) 0;
  }

  &__item {
    margin: 0 0 units(1) 0;
  }

  &__button {
    @include makeButton(true);

    @include at-media('desktop') {
      width: 100%;
    }
  }
}

.lab-classes__table {
  width: 100%;
}

// ***************** LOCATIONS ***************** //
.lab-locations-key {
  margin-bottom: units(2);

  &__item {
    position: relative;
    padding: units(3) units(1) units(1);
    margin: units(1) 0;
    font-weight: bold;
  }

  &__item::before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\2022';
    font-size: 3rem;
    line-height: 0;
  }

  &__item--lab-office::before {
    color: color($theme-color-lab-brand-orange);
  }

  &__item--where-we-worked::before {
    color: color($theme-color-lab-gold);
  }

  &__item--where-we-taught::before {
    color: color($theme-color-lab-coral);
  }

  &__item--where-we-learned::before {
    color: color($theme-color-lab-brand-teal);
  }

  &__item--where-we-collaborated::before {
    color: color($theme-color-lab-indigo);
  }
}

// ***************** SIDENAV ***************** //
.lab-hcd-guide-nav {
  &__title {
    display: block;
    text-decoration: none;
    font-weight: bold;
    @include u-font-size('body', 'lg');
    @include permaLink(color('primary'));
    margin-bottom: units(2);
  }
}

// ***************** TEAM ***************** //
.lab-team {
  &__body {
    display: flex;
    flex-wrap: wrap;
    margin: units(4) 0 units(4) -1em;
  }
}

.lab-team-person {
  display: flex;
  flex: 1;
  padding: 1em 0 0 1em;

  &__link {
    display: block;
    width: 100%;
    padding: units(4) units(2);
    text-decoration: none;
    text-align: center;
    color: color('ink');

    &:visited,
    &:hover,
    &:active {
      color: color('ink');
    }
  }

  &__figure {
    width: 140px;
    margin-left: auto;
    margin-right: auto;
  }

  &__body {
    padding: units(2) 0;
  }

  &__name {
    font-weight: bold;
  }

  &__placholder-img {
    width: 140px;
    height: 140px;
  }

  &__location {
    display: inline-block;
    position: relative;
    font-weight: normal;
    margin-left: units(1);
    padding: 0 units(1);

    &:before {
      content: '|';
      position: absolute;
      left: 0;
    }
  }

  &__location-link {
    text-decoration: none;
    @include permaLink(color('ink'));
  }
}

.lab-team-person,
.lab-team-person-image {
  &__placholder-img {
    background-color: color($theme-color-lab-pewter);
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.lab-team-person-image {
  &__placholder-img {
    width: 100%;
    min-height: 306px;
  }
}

// ***************** FOOTER ***************** //
.lab-footer {
  &__primary-section {
    background-color: color($theme-color-lab-mist);
  }

  &__sub-title {
    padding: units(4) 0;
    color: color($theme-color-lab-indigo);
  }

  .usa-footer__primary-section {
    background-color: color($theme-color-lab-moon);
  }

  &.usa-footer--big .usa-footer__primary-content--collapsible.hidden .lab-footer__address {
    display: none;
  }

  &__required-links-list {
    display: block;
    margin-top: units(2);

    @include at-media('mobile-lg') {
      margin-top: 0;
    }
  }

  &__required-links-item {
    display: inline-block;
    @include u-font-size('body', '2xs');
  }

  &__required-links-link {
    display: block;
    padding: units(1) units(1) units(1) 0;
  }
}

.lab-footer .lab-footer__connect-item {
  margin-left: 0;
}

.lab-footer,
.lab-locations {
  &__address {
    display: block;
    color: color('ink');
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;

    @include at-media('mobile-lg') {
      padding-left: 0;
      padding-right: 0;
    }

    &:hover {
      color: color('primary');
    }

    &:visited {
      color: color('ink');
    }
  }

  &__address-line {
    display: block;
  }
}

// ***************** PAGE SPECIFIC LAYOUTS ***************** //
.l-hcd-guide {
  .guide-footnotes {
    font-family: "public-sans", "Helvetica Neue", Helvetica, "Roboto", sans-serif;
    font-size: 12px;
    margin: 0em;
  }

  .guide-blockquote {
    font-size: 1em;
    width: 100%;
    margin-bottom: 1.5rem;
    font-style: italic;
    color: #212121;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 8px solid #046b99;
    line-height: 1.4;
    position: relative;
    background: #f1f1f1;
    max-width: 66ch;
    }

  .guide-blockquote ::before {
    content: '\201C';
    color: #046b99;
    font-size: 4em;
    position: absolute;
    left: 10px;
    top: -10px; }

  .guide-blockquote ::after {
    content: ''; }

  .guide-blockquote span {
    display: block;
    color: #212121;
    font-style: normal;
    font-weight: bold;
    margin-top: 1em;
  }

  .guide-blue-box {
    width: 100%;
    color: #212121;
    margin: units(2) 0;
    padding: 1.5rem;
    background: #e1f3f8;
    max-width: 66ch;
  }

  .guide-blue-box-illustration {
    padding: 0 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background: #e1f3f8;
    max-width: 66ch;
  }

  .guide-blue-box img {
    margin-right: 1.5rem;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .circle {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 50%;
    background-color: #fee685;
    text-align: center;
  }

  .print-button {
    display: inline-block;
    width: 25px;
    height: 25px;
    padding-top: 20%;
    align: center;
  }

  .border {
    color: #adadad;
  }

  @media print {
    aside,
    footer,
    form …,
    header {
      display: none;
    }

  .noprint {
      display: none;
    }
  }

  /////////////////////image styles//////////////////////////////////

  .section-image {
    grid-column: 3;
    grid-row: 3;
    padding: .5rem;
  }

  ///////////////////image and text interaction styles////////////////

  .space {
    padding: 2em;
  }

  .center_text {
    align-self: center;
  }

  .square_center {
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  .lab-content-caption-container .square_center {
    padding-bottom: 0;
  }

  .block {
    width: 100%;
  }

  .square_right {
    display: inline;
    width: 50%;
    float: right;
    padding-left: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }


  .square_left {
    display: inline;
    width: 50%;
    float: left;
    padding-right: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  .couple_right {
    display: inline;
    width: 45%;
    float: left;
    padding-left: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  .couple_left {
    display: inline;
    width: 45%;
    float: left;
    padding-left: 1.5%;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
  }

  .bubbles_right {
    display: inline;
    width: 30%;
    float: right;
    padding-left: 2.5%;
    margin: .5em;
    min-width: 225px;
  }

  .bubbles_left {
    display: inline;
    width: 30%;
    float: left;
    padding-right: 2.5%;
    margin: .5em;
    min-width: 225px;
  }

  .right_text {
    text-align: right;
  }
}
