---
layout: article-wide
section: about
permalink: /about/team/
title: Our team
---

<p class="lab-content__lead">
  The Lab team is composed of a group of design professionals with expertise across many disciplines including design, digital design and development, creative and art direction, business, education, architecture, journalism, content strategy, community organizing, urban design and public policy. Our team brings formidable skills, deep curiosity and a commitment to service to our work.
</p>

<section class="lab-team" style="margin-top:0">
  <div class="lab-team__body">
    {% for person in site.people %}
    <div class="lab-team-person">
      <a class="lab-team-person__link" href="{{ site.baseurl }}{{ person.permalink }}">
        <div class="lab-team-person__figure">
        {% assign image_name = person.image_name %}
        {% if image_name %}
            <img src="{{ site.baseurl }}/assets/img/lab/people/{{ image_name }}" alt="Photo of {{ person.name }}" />
        {% else %}
            <div class="lab-team-person__placholder-img">&nbsp;</div>
        {% endif %}
        </div>
        <div class="lab-team-person__body">
          <div class="lab-team-person__name">{{ person.name }}</div>
          <div class="lab-team-person__title">{{ person.job-title }}</div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
