/* ******** ******** ******** ******** ******** ******** ********
 * main.scss - Contains the Sass source code 
 *             for the Lab OPM Design Guide
 * ******** ******** ******** ******** ******** ******** ******** */
/* ****** IMPORTS USWDS STYLESHEET ****** */
@import url("/assets/test/styles.scss");
/* ****** VARIABLES AND MIXINS ****** */
/* ------ LINE HEIGHTS ------ */
/* ------ FONT COLORS ------ */
/* ------ BACKGROUNDS, BORDERS & SPACERS ------ */
/* ------ MARGINS ------ */
/* ------ WIDTHS ------ */
/* 
 * Calculated by subtracting the global value for the left margin of the webpage from the width 
 * of the browser window. 
 */
/* ****** COPY ELEMENTS ****** */
/* 
span, 
a, 
p {
  font-family: $base_copy_typeface;
}

a {
  text-decoration: underline !important;
}

h1, 
h2, 
h3, 
.left-sub_head-p {
  font-family: $base_header_typeface !important;
}

#section-top span {
  font-weight: $base_copy_font_weight;
}

h1, 
h2, 
h3 {
  font-weight: $black_copy_font_weight !important;
} */
/* ****** BODY CONTENT ****** */
/* ------ TOP HEADER ------ */
#section-top {
  width: 100%;
  height: 1.69rem; }
  #section-top img {
    display: inline-block;
    margin: 0.31rem 0.25rem 0.31rem 9%; }
  #section-top span {
    display: inline-block; }

/* '#section-top' refers to the gray bar at the top of the webpage within a desktop browser. */
#header-top {
  width: 100%;
  padding: 2.2rem 0 1.3rem 9%;
  /* Refers to the horizontal list of links within the top header. */
  /* Refers to the search field within the top header. */ }
  #header-top #top-a-logo,
  #header-top #top-nav,
  #header-top #top-form-search {
    display: inline-block; }
  #header-top #top-a-logo {
    width: 158px;
    height: 30px;
    margin-bottom: 0.3rem; }
  #header-top #top-nav {
    margin-left: 9.69rem;
    vertical-align: bottom; }
    #header-top #top-nav ul {
      margin: 0;
      padding: 0; }
      #header-top #top-nav ul li {
        display: inline-block;
        margin-left: 2rem;
        list-style-type: none; }
        #header-top #top-nav ul li a {
          display: inline-block;
          /* font-size: $top_header_copy_font_size;
          font-weight: $bold_copy_font_weight;
          text-decoration: none !important;
          color: $top_nav_link_color; */ }
      #header-top #top-nav ul li:first-of-type {
        margin-left: 0; }
    #header-top #top-nav .nav-a-arrow {
      margin-left: 0.5rem; }
  #header-top #top-form-search {
    margin: 0 0 0.35rem 2.81rem;
    vertical-align: bottom; }
    #header-top #top-form-search #form-search-input_field {
      height: 39px;
      margin: 0; }
    #header-top #top-form-search #form-search-submit {
      width: 55px;
      height: 39px;
      margin: 0;
      background-image: url("/test/assets/img/icons/search.png");
      vertical-align: bottom; }

/* 
 * Refers to the blue bar holding the Lab*OPM logo, main navigation, and search field 
 * located near the top of the desktop browser.
 */
/* ------ SPLASH SECTION ------ */
#section-splash {
  width: 100%;
  height: 36.5rem;
  padding: 2.19rem 11% 2.19rem 11%;
  /* 
   * Refers to the content within the 'Splash' section except for the link named 
   * 'All HCD Guides.'
   */ }
  #section-splash #splash-desc-div h1 {
    margin: 2rem 0 0.5rem 0; }
  #section-splash #splash-desc-div #desc-left-div,
  #section-splash #splash-desc-div #desc-right-div {
    float: left; }
  #section-splash #splash-desc-div #desc-left-div {
    width: 72%;
    padding-right: 11%; }
    #section-splash #splash-desc-div #desc-left-div .left-sub_head-p {
      margin-top: 0.6rem;
      line-height: 1.6; }
    #section-splash #splash-desc-div #desc-left-div .left-sub_head-p-2 {
      margin-top: 2.85rem;
      line-height: 1.5; }
  #section-splash #splash-desc-div #desc-right-div {
    width: 24%; }
    #section-splash #splash-desc-div #desc-right-div #right-print-div {
      margin-top: 2.2rem;
      /* 
         * Refers to the link 'Print guide' which lies at the top 
         * of the right column within the 'Splash' section.
         */ }
      #section-splash #splash-desc-div #desc-right-div #right-print-div img {
        margin-left: 1rem; }
    #section-splash #splash-desc-div #desc-right-div .right-links-aside {
      margin-top: 3.25rem; }
      #section-splash #splash-desc-div #desc-right-div .right-links-aside h3 {
        margin-bottom: 0.75rem;
        /* font-size: $base_copy_font_size;
          color: $h3_font_color; */ }
      #section-splash #splash-desc-div #desc-right-div .right-links-aside a {
        display: block;
        margin-bottom: 0.6rem; }
    #section-splash #splash-desc-div #desc-right-div #right-links-know_the_basics-aside {
      margin-top: 3.8rem;
      /* 
         * Refers to the border seperating the links within the block of links named 
         * 'Know the Basics.'
         */ }
      #section-splash #splash-desc-div #desc-right-div #right-links-know_the_basics-aside h3 {
        margin-bottom: 1rem; }
      #section-splash #splash-desc-div #desc-right-div #right-links-know_the_basics-aside a {
        height: 27px;
        background-image: url("/assets/img/icons/arrow_link.png");
        background-repeat: no-repeat;
        background-position: 95% 0;
        text-decoration: none !important; }
      #section-splash #splash-desc-div #desc-right-div #right-links-know_the_basics-aside hr {
        height: 2px;
        margin: 0.8rem 0;
        border: none; }

/* 
* Refers to the copy and links which appear within the browser window of a desktop 
* computer after the webpage loads.
*/
/* ------ READING GUIDE ------ */
#reading-aside {
  width: 15rem;
  margin: 3.13rem 5.63rem 3.13rem 11%;
  float: left; }
  #reading-aside span {
    margin-bottom: 0.6rem;
    display: block; }
  #reading-aside .reading-current-span {
    /*  font-weight: $bold_copy_font_weight;
    color: $sub_nav_current_page_font_color; */ }

/* Refers to the block of section titles which appears on the left-hand side of 
  * webpages appearing within a desktop browser.
  */
/* ------ MAIN CONTENT ------ */
#main-content {
  width: 50.5%;
  margin-top: 3.13rem;
  float: left; }
  #main-content h2 {
    color: #00a8d9; }
  #main-content .content-top-p {
    margin-top: 1.5rem; }
  #main-content .content-div {
    margin-top: 2.25rem; }
    #main-content .content-div p {
      color: #38393d; }
    #main-content .content-div .content-columns-div {
      width: 47%;
      float: left; }
    #main-content .content-div .content-columns-left-div {
      margin-right: 2.25rem; }
    #main-content .content-div .content-columns-right-div .columns-visible-hr {
      display: none; }

/* 
 * Refers to the block of copy which appears underneath the 'Splash' section and to the 
 * right of the the 'Reading Guide'. 
 */
