 /* ******** ******** ******** ******** ******** ******** ********
 * main.scss - Contains the Sass source code 
 *             for the Lab OPM Design Guide
 * ******** ******** ******** ******** ******** ******** ******** */

/* ****** VARIABLES AND MIXINS ****** */

/* ------ TYPEFACES ------ */

$base_header_typeface: Merriweather, serif;
$base_copy_typeface: 'Source Sans Pro', sans-serif;



/* ------ FONT SIZES ------ */

$base_header_font_size: 2rem; // 24pt
$base_copy_font_size: 1rem; // 12pt
$top_header_copy_font_size: 0.9rem; // 11pt
$splash_sub_head_copy_font_size: 1.1rem; // 13pt



/* ------ FONT WEIGHTS ------ */

$base_copy_font_weight: 400;
$bold_copy_font_weight: 700;
$black_copy_font_weight: 900;



/* ------ LINE HEIGHTS ------ */

$line_height_1_6: 1.6;
$line_height_1_5: 1.5;


/* ------ FONT COLORS ------ */

$top_header_font_color: #626368;
$top_nav_link_color: #2d3f4d;
$h1_font_color: #323a45;
$h2_font_color: #00a8d9;
$h3_font_color: #8d8d8d;
$sub_head_font_color: #38393d;
$span_detail_font_color: #8c8c8c;
$splash_guide_link_font_color: #323a45;
$splash_link_font_color: #17293f;
$splash_print_link_font_color: #00a8d9;
$sub_nav_current_page_font_color: #00a8d9;
$sub_nav_link_font_color: #383b40;
$copy_link_font_color: #00a8d9;
$highlight_font_color: #969696;
$next_section_font_color: #383b40;
$next_page_link_font_color: #eeffff;



/* ------ BACKGROUNDS, BORDERS & SPACERS ------ */

$top_header_background_color: #f1f1f1;
$top_nav_background_color: #00a8d9;
$search_color: #102f4e;
$splash_background_color: #f4f4f6;
$copy_background_color: #ffffff;
$splash_border_color: #d0d1d3;
$splash_nav_accent_color: #3d8fa5;
$copy_bottom_border_color: #d8d8d8;
$copy_border_color: #3d8fa5;



/* ------ MARGINS ------ */

$header_left_space: 9%;
// Reflects the left margin of the webpage relative to the width of the browser.
$page_left_space: 11%;
// Reflects the left margin of the copy of the webpage relative to the width of the browser.
$splash_right_space: 11%;
// Reflects the right margin of the copy which appears on the left-side within the 'Splash' section.
$splash_sub_head_top_margin_top: 0.6rem;
$splash_sub_head_bottom_margin_top: 2.85rem;
// Reflects the top margins of the paragraphs which appear in the splash section.


/* ------ WIDTHS ------ */

$page_offset_width: 9%;
/* 
 * Calculated by subtracting the global value for the left margin of the webpage from the width 
 * of the browser window. 
 */
$splash_left_width: 72%;
$splash_right_width: 24%;
// Maintains the proper proportions within a desktop browser.



/* ****** COPY ELEMENTS ****** */

span, 
a, 
p {
  font-family: $base_copy_typeface;
}

a {
  text-decoration: underline !important;
}

h1, 
h3, 
.left-sub_head-p {
  font-family: $base_header_typeface !important;
}

#section-top span {
  font-weight: $base_copy_font_weight;
}

h1, 
h3 {
  font-weight: $black_copy_font_weight !important;
}



/* ****** BODY CONTENT ****** */

/* ------ TOP HEADER ------ */

#section-top {
  width: 100%;
  height: 1.69rem; // 27px
  background-color: $top_header_background_color; 

  img {
    display: inline-block;
    margin: 0.31rem 0.25rem 0.31rem $header_left_space;
  }
  // Refers to the flag icon. 

  span {
    display: inline-block;
    font-size: $top_header_copy_font_size;
    color: $top_header_font_color;
  }
  // Refers to the string of copy to the right of the flag icon. 
}
/* '#section-top' refers to the gray bar at the top of the webpage within a desktop browser. */

#header-top {
  width: 100%;
  padding: 2.2rem 0 1.3rem $header_left_space; // 35px 0 21px 9%
  background-color: $top_nav_background_color;

  #top-a-logo, 
  nav, 
  #form-search {
    display: inline-block;
  }

  #top-a-logo {
    width: 158px;
    height: 30px;
    margin-bottom: 0.3rem; // 5px
  }

  nav {
    margin-left: 9.69rem; // 155px
    vertical-align: bottom;

    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        margin-left: 2rem; // 32px
        list-style-type: none;

        a {
          display: inline-block;
          font-size: $top_header_copy_font_size;
          font-weight: $bold_copy_font_weight;
          text-decoration: none !important;
          color: $top_nav_link_color;
        }
      }

      li:first-of-type {
        margin-left: 0;
      }
    }
    // Refers to the HTML element containing the list of links within the top header.

    .nav-a-arrow {
      margin-left: 0.5rem; // 8px
    }
  }
  /* Refers to the horizontal list of links within the top header. */

  #form-search {
    margin: 0 0 0.35rem 2.81rem; // 0 0 6px 45px
    vertical-align: bottom;
    
    #form-search-input_field {
      height: 41px;
      margin: 0;
      border: 1px solid $search_color;
    }
    
    #form-search-submit {
      width: 53px;
      height: 41px;
      margin: 0;
      background-color: $search_color;
      background-image: url('/test/assets/img/icons/search.png');
      vertical-align: bottom;
    }
  }
  /* Refers to the search field within the top header. */
}
/* 
 * Refers to the blue bar holding the Lab*OPM logo, main navigation, and search field 
 * located near the top of the desktop browser.
 */

#section-splash {
  width: 100%;
  height: 36.5rem; // 584px
  padding: 2.19rem $page_left_space 2.19rem $page_left_space;
  background-color: $splash_background_color;

  #splash-guides-a {
    font-size: $base_copy_font_size;
    color: $splash_guide_link_font_color;
  }
  // Refers to the link to 'All HCD Guides' near the top of the 'Splash' section.

  #splash-desc-div {
    h1 {
      color: $h1_font_color;
      margin: 2rem 0 0.5rem 0; // 32px 0 8px 0
    }
    // Refers to the top-most header.

    #desc-left-div, 
    #desc-right-div {
      float: left;
    }
    // Refers to two <div> elements which contain the content which lies within two columns.

    #desc-left-div {
      width: $splash_left_width;
      padding-right: $splash_right_space;

      .left-read-span {
        color: $span_detail_font_color;
      }
      // Refers to the line of copy describing the time a visitor would spend reading the content.

      .left-sub_head-p, 
      .left-sub_head-p-2 {
        color: $sub_head_font_color;
      }
      // Refers to the paragraphs of copy within the left column.

      .left-sub_head-p {
        margin-top: $splash_sub_head_top_margin_top;
        font-size: $splash_sub_head_copy_font_size;
        line-height: $line_height_1_6;
      }
      // Refers to the top-most paragraph within the left column.

      .left-sub_head-p-2 {
        margin-top: $splash_sub_head_bottom_margin_top;
        line-height: $line_height_1_5; 
      }
      // Refers to the bottom paragraph within the bottom column.
    }

    #desc-right-div {
      width: $splash_right_width;

      #right-print-div {
        margin-top: 2.2rem; // 43px
        
        #print-guide-a {
          color: $splash_print_link_font_color;
        }
        /* 
         * Refers to the link 'Print guide' which lies at the top 
         * of the right column within the 'Splash' section.
         */

        img {
          margin-left: 1rem; // 16px
        }
        // Refers to the printer icon.
      }
      // Refers to the link to print the guide and the corresponding icon.

      .right-links-aside {
        margin-top: 3.25rem; // 52px

        h3 {
          margin-bottom: 0.75rem;
          font-size: $base_copy_font_size;
          color: $h3_font_color;
        }
        // Refers to the titles on top of each block of links within the right column.

        a {
          display: block;
          margin-bottom: 0.6rem;
          color: $splash_link_font_color;
        } 
        // Refers to the text links within the right column.
      }

      #right-links-know_the_basics-aside {
        margin-top: 3.8rem; // 61px

        h3 {
          margin-bottom: 1rem; // 16px
        }
        
        a {
          height: 27px;
          background-image: url('/assets/img/icons/arrow_link.png');
          background-repeat: no-repeat;
          background-position: 95% 0;
          font-weight: $bold_copy_font_weight;
          text-decoration: none !important;
        }
        // Refers to the links within the block of links named 'Know the Basics'.

        hr {
          height: 2px;
          margin: 0.8rem 0; // 13px
          border: none;
          background-color: $splash_border_color;
        }
        /* 
         * Refers to the border seperating the links within the block of links named 
         * 'Know the Basics.'
         */
      }
      // Refers to the bottom block of links within the right column.
    }
    // Refers to the content within the right column within the 'Splash' section.
  }
  /* 
   * Refers to the content within the 'Splash' section except for the link named 
   * 'All HCD Guides.'
   */
}
/* 
* Refers to the copy and links which appear within the browser window of a desktop 
* computer after the webpage loads.
*/
