<!DOCTYPE html>
<html lang="en">
{% include _head.html %}

<body>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  {% include _banner.html %}
  {% include _header.html %}
  {% include _hero.html name=page.section %}
  <main id="main-content" role="main" class="usa-layout-docs usa-section lab-content">
    <div class="grid-container">
      {{ content }}
    </div>
    {% if page.highlight and page.section == 'what-we-do' %}
      <div class="lab-content-highlight-warm">
        <div class="lab-content-highlight-warm__body">
          {% capture highlight_include %}{% include {{ page.highlight }} %}{% endcapture %}
          {{ highlight_include | markdownify }}
        </div>
      </div>
    {% endif %}
    {% if page.highlight and page.section == 'about' %}
      <div class="lab-content-highlight-cool">
        <div class="lab-content-highlight-cool__body">
          {% capture highlight_include %}{% include {{ page.highlight }} %}{% endcapture %}
          {{ highlight_include | markdownify }}
        </div>
      </div>
    {% endif %}
  </main>
  {% include _footer.html %}

  <script src="{{ site.baseurl }}/assets/js/uswds.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/shims/svg4everybody.js"></script>
  <script>
    svg4everybody();
  </script>
</body>
</html>
