
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
  
  

  <title>The Lab at OPM</title>

  <meta name="description" content="Services 3 min Print section Budget time, people, and patience &ldquo;How long will this take?&rdquo; has to be one of the most terrifying questions any designer will be asked when..." />
  <link rel="canonical" href="/hcd-guide/discovery/services.htm" />
  <meta property="og:title" content="Services | The Lab at OPM" />
  <meta property="og:title" content="Services | The Lab at OPM" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:description" content="Services 3 min Print section Budget time, people, and patience &ldquo;How long will this take?&rdquo; has to be one of the most terrifying questions any designer will be asked when..." />
  <meta property="og:url" content="/hcd-guide/discovery/services.htm" />
  <meta property="og:site_name" content="The Lab at OPM" />
  <meta property="og:type" content="article" />

  <link rel="stylesheet" media="all" href="/assets/stylesheets/styles.css">
  </link>
  
</head>

<body>
  <a class="usa-skipnav" href="#main-content">Skip to main content</a>
  <div class="usa-banner usa-banner__hcd-guide">
  <div class="usa-accordion">
    <header class="usa-banner__header">
      <div class="usa-banner__inner">
        <div class="grid-col-auto">
          <img class="usa-banner__header-flag" src="/assets/img/us_flag_small.png" alt="U.S. flag">
        </div>
        <div class="grid-col-fill tablet:grid-col-auto">
          <p class="usa-banner__header-text">An official website of the United States government</p>
          <p class="usa-banner__header-action" aria-hidden="true">Here’s how you know</p>
        </div>
        <button class="usa-accordion__button usa-banner__button" aria-expanded="false" aria-controls="gov-banner">
          <span class="usa-banner__button-text">Here’s how you know</span>
        </button>
      </div>
    </header>
    <div class="usa-banner__content usa-accordion__content" id="gov-banner">
      <div class="grid-row grid-gap-lg">
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="/assets/img/icon-dot-gov.svg" alt="Dot gov">
          <div class="usa-media-block__body">
            <p>
              <strong>The .gov means it’s official.</strong>
              <br>
              Federal government websites often end in .gov or .mil. Before sharing sensitive information, make sure you’re on a federal government site.
            </p>
          </div>
        </div>
        <div class="usa-banner__guidance tablet:grid-col-6">
          <img class="usa-banner__icon usa-media-block__img" src="/assets/img/icon-https.svg" alt="Https">
          <div class="usa-media-block__body">
            <p>
              <strong>The site is secure.</strong>
              <br>
              The <strong>https://</strong> ensures that you are connecting to the official website and that any information you provide is encrypted and transmitted securely.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="usa-overlay"></div>
<header class="usa-header usa-header--basic usa-header--megamenu lab-header usa-header__hcd-guide" role="banner">
  <div class="usa-nav-container">
    <div class="usa-navbar">
      <div class="usa-logo lab-header__logo" id="basic-mega-logo">
        <em class="usa-logo__text">
          <a href="/" title="Home" aria-label="Home" class="lab-header__logo-link">
            <img src="/assets/img/lab/lab-logo-orange-teal.svg" alt="The Lab at OPM logo, the word LAB followed by the abbreviation OPM with a dot inbetween." class="lab-header__logo-img">
          </a>
        </em>
      </div>
      <button class="usa-menu-btn" aria-label="Menu">Menu</button>
    </div>
    <nav role="navigation" class="usa-nav">
      <button class="usa-nav__close"><img src="/assets/img/close.svg" alt="close"></button>
      
      
      <ul class="usa-nav__primary usa-accordion">
        
        <li class="usa-nav__primary-item " data-section_name="what-we-do" data-page-section="hcd-guide">
          
          
            
            
          <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="what-we-do">
            <span>What we do</span>
          </button>
          <ul id="what-we-do" class="usa-nav__submenu">
              
            <li class="usa-nav__submenu-item">
              <a href="/what-we-do/">Overview</a>
            </li>
              
            <li class="usa-nav__submenu-item">
              <a href="/what-we-do/partner/">Partner with us</a>
            </li>
              
            <li class="usa-nav__submenu-item">
              <a href="/what-we-do/featured-work/">Featured work</a>
            </li>
              
            <li class="usa-nav__submenu-item">
              <a href="/what-we-do/resources/">Resources</a>
            </li>
              
          </ul>
          
        </li>
        
        <li class="usa-nav__primary-item " data-section_name="take-a-class" data-page-section="hcd-guide">
          
          
            
            
          <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="take-a-class">
            <span>Take a class</span>
          </button>
          <ul id="take-a-class" class="usa-nav__submenu">
              
            <li class="usa-nav__submenu-item">
              <a href="/take-a-class/">Overview</a>
            </li>
              
            <li class="usa-nav__submenu-item">
              <a href="/take-a-class/custom-classes/">Custom classes</a>
            </li>
              
            <li class="usa-nav__submenu-item">
              <a href="/take-a-class/open-enrollment-classes/">Open enrollment classes</a>
            </li>
              
            <li class="usa-nav__submenu-item">
              <a href="/take-a-class/coaching/">Coaching</a>
            </li>
              
          </ul>
          
        </li>
        
        <li class="usa-nav__primary-item " data-section_name="about" data-page-section="hcd-guide">
          
          
            
            
          <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="about">
            <span>About the Lab</span>
          </button>
          <ul id="about" class="usa-nav__submenu">
              
            <li class="usa-nav__submenu-item">
              <a href="/about/">Overview</a>
            </li>
              
            <li class="usa-nav__submenu-item">
              <a href="/about/history/">Our history</a>
            </li>
              
            <li class="usa-nav__submenu-item">
              <a href="/about/team/">Our team</a>
            </li>
              
            <li class="usa-nav__submenu-item">
              <a href="/about/locations/">Locations</a>
            </li>
              
            <li class="usa-nav__submenu-item">
              <a href="/about/join/">Join the Lab</a>
            </li>
              
            <li class="usa-nav__submenu-item">
              <a href="/about/news/">In the news</a>
            </li>
              
          </ul>
          
        </li>
        
        <li class="usa-nav__primary-item usa-current" data-section_name="hcd-guide" data-page-section="hcd-guide">
          
          
            
            
          <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="hcd-guide">
            <span>HCD Guide Series</span>
          </button>
          <ul id="hcd-guide" class="usa-nav__submenu">
              
            <li class="usa-nav__submenu-item">
              <a href="/hcd-guide/discovery/">Discovery Phase</a>
            </li>
              
          </ul>
          
        </li>
        
        <li class="usa-nav__primary-item " data-section_name="contact" data-page-section="hcd-guide">
          
          
          <a class=" usa-nav-link  " href="/contact/" data-href="/contact/" data-permalink="/hcd-guide/discovery/services.htm">
            <span>Contact us</span>
          </a>
          
        </li>
        
      </ul>
      
    </nav>
  </div>
</header>

  <div class="lab-hero lab-hero--hcd-guide">
  <div class="lab-hero__body lab-hero--hcd-guide__body">
    
      <div class="lab-hero__sub-title lab-hero--hcd-guide__sub-title lab-hero__desktop_visible">
      
        <a href=" " title="All HCD Guides">All HCD Guides</a>
        <a href="javascript:window.print();" title="Print Guide">Print Guide</a>
      </div>
      <div class="lab-hero__sub-title lab-hero--hcd-guide__sub-title lab-hero__guide_menu lab-hero__mobile_visible">
        <span class="lab-hero__guide_menu_title">Guide Menu</span>
        <a href="#" title="Guide Menu" class="lab-hero__guide_menu_link"><img src="/assets/img/lab/hcd-guide/design/guide-menu-icon.png" alt="Guide Menu" /></a>
        <form action="#" class="lab-hero__form_search_mobile">
          <input type="search" placeholder="Search this guide..." class="padding-left-1 border-0 radius-left-sm" /><input type="image" src="/assets/img/lab/hcd-guide/design/search-icon-mobile.png" class="lab-hero__search_image" />
        </form>
      </div>
      <div class="lab-hero__guide_menu_content lab-hero__mobile_visible">
        <div class="lab-hero__guide_menu_header">
          <span class="lab-hero__sub-title lab-hero__guide_menu_title">Guide Menu</span>
          <a href="#" title="Close Menu" class="lab-hero__guide_menu__close_link"><img src="/assets/img/lab/hcd-guide/design/guide-menu-close-mobile.png" alt="Close Menu" /></a>
        </div>
        <nav class="lab-hero__guide_menu_nav">
          <ul>
            <li><a href="#" title="Welcome">Welcome</a></li>
            <li><a href="#" title="Purpose of this guide">Purpose of this guide</a></li>
            <li><a href="#" title="Design phase principles">Design phase principles</a><a href="#" title="View more topics in Design phase principles"><img src="/assets/img/lab/hcd-guide/design/guide-menu-view-more-mobile.png" width="13" height="13" title="View more topics in Design phase principles" /></a></li>
            <li><a href="#" title="Designed things">Designed things</a><a href="#" title="View more topics in Designed things"><img src="/assets/img/lab/hcd-guide/design/guide-menu-view-more-mobile.png" width="13" height="13" title="View more topics in Designed things" /></a></li>
            <li><a href="#" title="Communicating ideas">Communicating ideas</a><a href="#" title="View more topics in Communicating ideas"><img src="/assets/img/lab/hcd-guide/design/guide-menu-view-more-mobile.png" width="13" height="13" title="View more topics in Communicating ideas" /></a></li>
            <li><a href="#" title="Design &amp; Implementation">Design &amp; Implementation</a></li>
          </ul>
        </nav>
        <div class="lab-hero__guide_menu_highlights">
          <span class="lab-hero__highlights_desc">Highlights</span>
          <button type="button" title="Turn highlights on" class="lab-hero__highlights_button"></button>
        </div>
        <div class="lab-hero__guide_menu_misc_links">
          <ul>
            <li><a href="#" title="Print guide">Print guide</a></li>
            <li><a href="#" title="Glossary">Glossary</a></li>
            <li><a href="#" title="Acknowledgements">Acknowledgements</a></li>
            <li><a href="#" title="All HCD Guides">All HCD Guides</a></li>
          </ul>
        </div>
      </div>
      <form action="#" class="lab-hero__desktop_visible">
        <input type="search" placeholder="Search this guide..." class="padding-left-1 border-0 radius-left-sm lab-hero__desktop_visible" /><input type="image" src="/assets/img/lab/hcd-guide/design/search.png" class="lab-hero__desktop_visible" />
      </form>
    </div>
    <div class="lab-hero__nav_bar_visible">&nbsp;</div>
    
  </div>
</div>


  <main id="main-content" role="main" class="usa-layout-docs usa-section lab-content main-content__hcd-guide">
    
    <div class="grid-container grid-container__hcd-guide">
      <div class="grid-row grid-gap">
        
        <aside class="usa-layout-docs__sidenav desktop:grid-col-4">
          <div id="usa-layout-docs__sticky">
            <nav class="lab-hcd-guide-nav">
  <ul class="usa-sidenav">
    
      
      
      
      
    <li class="usa-sidenav__item">
      
        
        
  
  
<li class="usa-sidenav__item">
  <a href="/hcd-guide/discovery/"  >Welcome </a>
    
</li>

  
  
<li class="usa-sidenav__item">
  <a href="/hcd-guide/discovery/purpose/"  >Purpose of this guide </a>
    
</li>

  
  
<li class="usa-sidenav__item">
  <a href="/hcd-guide/discovery/design-phase-principles.htm"  >Design phase principles </a>
    
</li>

  
  
<li class="usa-sidenav__item">
  <a href="/hcd-guide/discovery/designed-things.htm"  >Designed Things </a>
    
</li>

  
  
<li class="usa-sidenav__item">
  <a href="/hcd-guide/discovery/communicating-ideas/"  >Communicating ideas </a>
    
</li>

  
  
<li class="usa-sidenav__item">
  <a href="/hcd-guide/discovery/design-and-implementation/"  >Design & implementation </a>
    
</li>

  
  
<li class="usa-sidenav__item">
  <a href="/hcd-guide/discovery/services.htm"  class="usa-current"  > </a>
    
</li>


      
    </li>
    
  </ul>
</nav>
<div class="lab-hcd-guide-highlights">
  <span class="lab-hcd-guide-highlights-desc">Highlights</span>
  <button type="button" title="Turn highlights on" class="lab-hcd-guide-highlights-button"></button>
</div>

          </div>
        </aside>
        <div class="usa-layout-docs__main_hcd-guide desktop:grid-col-8 usa-prose">
          <h1>Services</h1>
<div class="usa-prose__reading_print">
  <span class="usa-prose__reading_time">3 min</span>
  <a href="#" title="Print guide" class="usa-prose__print_guide_img"><img src="/assets/img/lab/hcd-guide/design/print-guide.svg" width="22" height="29" alt="Print guide" /></a>
  <a href="#" title="Print guide" class="usa-prose__print_guide">Print section</a>
</div>

<h2>Budget time, people, and patience</h2>
<p>
  &ldquo;How long will this take?&rdquo; has to be one of the most terrifying questions any designer will be asked when embarking on the design phase. The simple answer: 
  one can&rsquo;t know — but rational time constraints can be useful. What we do know, from years of experience and many, many design case studies, is that getting 
  to a simple, easy-to-understand, and useful solution to any design problem is the result of many rounds of iteration, problem-solving, and testing. Leadership 
  and clients should not expect a design solution to be completely finished in a month, especially if the team is working on multiple projects either together or apart, 
  but defining the term of the design phase rationally can help the phase move along.
</p>

<h2>Making decisions</h2>
<p>
  A successful design phase requires the team to make a lot of decisions. Some of these include: what to design, how to make a model or prototype 
  of it, who to test with, how to test it, how to get on those peoples&rsquo; calendars, how long to wait before finding other people to test with, how 
  to integrate their feedback, and how to move through iterations on that feedback.
</p>
<p>
  This process can be anxiety-inducing, as it means the design won&rsquo;t meet all the needs of all the participants. This decision-making is, 
  however, necessary. What a design team is trying to do is to make a precisely useful solution for a precise problem, not to make a large, unwieldly 
  solution that tries (and fails) to solve all the problems encountered by the participants.
</p>

<div class="lab__case_in_point_wrapper">
  <div class="lab__case_in_point_header">
    <span class="lab__case_in_point_title">Case in point</span>
  </div>
  <div class="lab__case_in_point_copy">
    <h2>The semester model as a rational time constraint</h2>
    <p>
      We will go further into the details of scheduling a design phase in the Design Phase Operations Guide, but for now, one useful rule of thumb 
      is based on a very familiar time unit, the academic semester. The Semester Model can also be compared to &ldquo;pics&rdquo; 
      in the Agile <button type="button" class="lab__case_in_point_info">&nbsp;</button> process. These timelines 
      generally consists of twelve to fifteen weeks of continuous work. Graduate thesis-level design projects typically an entire semester 
      with students primarily working on their own or with a tight team and focusing on nothing else. If your team meets the criteria 
      of tightly working together and narrowly focusing on the immediate task of product, service, or system development, then a semester 
      (12 - 15 weeks) might be a good timeline for producing design work that has been developed through an iterative process and tested 
      with either one or two rounds of participants, depending on how easy it is to schedule time with them. At 12 weeks, you can reasonably be able 
      to offer your leadership and stakeholders a (hopefully brief) report on your design phase, including iterations and testing, and plan 
      to move into secondary testing and piloting. More on this process in the Feedback section. 
      <img src="/assets/img/lab/hcd-guide/design/case-in-point-bullet-mobile.svg" width="14" height="14" title="" class="lab__case_in_point_bullet_mobile lab-hero__mobile_visible" />
    </p>
  </div>
  <div class="lab__case_in_point_vertical_border lab-hero__desktop_visible">&nbsp;</div>
  <div class="lab__case_in_point_bottom_border lab-hero__desktop_visible">&nbsp;</div>
</div>
<div class="lab__clear_spacer"></div>
          <div class="usa-layout__content_bottom">
            <a href="#top" title="To top" class="usa-back_to_top">To Top</a>
            <hr>
            <div class="usa-layout__link_wrapper">
            
              
              
              <a href="/hcd-guide/discovery/design-phase-principles.htm" title="Design Phase principles" class="usa-layout__section_link section_link_previous">Design Phase principles</a>
            
            
              
              
              
              <a href="/hcd-guide/discovery/products.htm" title="Products" class="usa-layout__section_link">Products</a>
            
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </main>
  <footer class="usa-footer usa-footer--big lab-footer" role="contentinfo">
  <!-- div class="grid-container usa-footer__return-to-top">
    <a href="#">Return to top</a>
  </div -->
  <div class="lab-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <h3 class="lab-footer__sub-title usa-footer__hcd-guide">
          Helping government organizations transform their programs, processes, and people through human-centered design.
        </h3>
      </div>
    </div>
  </div>
  <div class="usa-footer__primary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-12 desktop:grid-col-12 usa-footer__hcd-guide">
          <nav class="usa-footer__nav">
            <div class="grid-row grid-gap-4">
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">The Lab at OPM</h4>
                  <div class="usa-list usa-list--unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <a class="lab-footer__address" href="/about/locations/#lab-dc-hq">
                      <span class="lab-footer__address-line" itemprop="streetAddress">Theodore Roosevelt Building</span>
                      <span class="lab-footer__address-line" itemprop="streetAddress">1900 E Street NW </span>
                      <span   class="lab-footer__address-line">
                        <span itemprop="addressLocality">Washington</span>, <span itemprop="addressRegion">DC</span> <span itemprop="postalCode">20415</span>
                      </span>
                    </a>
                  </div>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Lab NYC</h4>
                  <div class="usa-list usa-list--unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <a class="lab-footer__address" href="/about/locations/#lab-nyc">
                      <span class="lab-footer__address-line" itemprop="streetAddress">One World Trade Center</span>
                      <span class="lab-footer__address-line" itemprop="streetAddress">285 Fulton Street</span>
                       <span class="lab-footer__address-line" itemprop="streetAddress">55th Floor</span>
                      <span   class="lab-footer__address-line">
                        <span itemprop="addressLocality">New York</span>, <span itemprop="addressRegion">NY</span> <span itemprop="postalCode">10007</span>
                      </span>
                    </a>
                  </div>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Lab SF</h4>
                  <div class="usa-list usa-list--unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <a class="lab-footer__address" href="/about/locations/#lab-sf">
                      <span class="lab-footer__address-line" itemprop="streetAddress">50 United Nations Plaza</span>
                       <span class="lab-footer__address-line" itemprop="streetAddress">Federal Office Building</span>
                      <span class="lab-footer__address-line" itemprop="streetAddress">5th Floor</span>
                      <span   class="lab-footer__address-line">
                        <span itemprop="addressLocality">San Francisco</span>, <span itemprop="addressRegion">CA</span> <span itemprop="postalCode">94102</span>
                      </span>
                    </a>
                  </div>
                </section>
              </div>
              <div class="mobile-lg:grid-col-6 desktop:grid-col-3">
                <section class="usa-footer__primary-content usa-footer__primary-content--collapsible">
                  <h4 class="usa-footer__primary-link">Lab Boston</h4>
                  <div class="usa-list usa-list--unstyled" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <a class="lab-footer__address" href="/about/locations/#lab-boston">
                      <span class="lab-footer__address-line" itemprop="streetAddress">Thomas P. O’Neill, Jr. Federal Building </span>
                         <span class="lab-footer__address-line" itemprop="streetAddress">10 Causeway Street </span>
                         <span class="lab-footer__address-line" itemprop="streetAddress">11th Floor </span>
                      <span   class="lab-footer__address-line">
                        <span itemprop="addressLocality">Boston</span>, <span itemprop="addressRegion">MA</span> <span itemprop="postalCode">02114</span>
                      </span>
                    </a>
                  </div>
                </section>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <div class="usa-footer__secondary-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="usa-footer__logo  usa-footer__logo_hcd-guidegrid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2">
          <div class="mobile-lg:grid-col-auto">
            <img class="usa-footer__logo-img" src="/assets/img/lab/opm-logo.png" alt="Official seal of OPM">
          </div>
          <div class="mobile-lg:grid-col-auto">
            <h3 class="usa-footer__logo-heading">U.S. Office of Personnel Management</h3>
          </div>
        </div>
        <div class="usa-footer__contact-links usa-footer__contact-links_hcd-guide mobile-lg:grid-col-6">
          <h3 class="usa-footer__contact-heading">Connect with us</h3>
          <address class="usa-footer__address">
            <div class="usa-footer__contact-info grid-row grid-gap">
              <ul class="usa-list usa-list--unstyled lab-footer__connect">
                <li class="usa-footer__secondary-link lab-footer__connect-item">
                  <a href="mailto:LabNetworks-subscribe-request@listserv.gsa.gov?subject=Subscribe to newsletter request">
                    Subscribe to our newsletter
                  </a>
                </li>
                <li class="usa-footer__secondary-link lab-footer__connect-item">
                  <a href="https://twitter.com/labopm/">@LabOPM</a>
                </li>
                <li class="usa-footer__secondary-link lab-footer__connect-item">
                  <a href="/contact/">Contact us</a>
                </li>
              </ul>
            </div>
          </address>
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div class="lab-footer__required-links mobile-lg:grid-col-6 usa-footer_hcd-guide">
          <ul class="usa-list usa-list--unstyled lab-footer__required-links-list">
            <li class="usa-footer__secondary-link lab-footer__required-links-item">
              <a class="lab-footer__required-links-link" href="https://www.opm.gov/information-management/privacy-policy/">Privacy Policy</a>
            </li>
            <li class="usa-footer__secondary-link lab-footer__required-links-item">
              <a class="lab-footer__required-links-link" href="https://www.opm.gov/information-management/freedom-of-information-act/">FOIA</a>
            </li>
            <li class="usa-footer__secondary-link lab-footer__required-links-item">
              <a class="lab-footer__required-links-link" href="https://www.opm.gov/information-management/accessibility/">Accessibility</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>


  <script src="/assets/js/uswds.min.js"></script>
  <script src="/assets/js/shims/svg4everybody.js"></script>
  <script src="/assets/js/hcd-guide.js"></script>
  <script>
    svg4everybody();
  </script>
</body>
</html>
